<template>
  <v-container wrap v-if="profile">
    <h2>Account</h2>
    <v-tabs>
      <v-tab>Favorites</v-tab>
      <v-tab>Settings</v-tab>
      <v-tab-item class="fav-holder">
        <CakeTile
          v-for="fav in profile.favourites"
          :key="fav.cake.id"
          :cake="fav.cake" />
      </v-tab-item>
      <v-tab-item>
        <v-row>
          <v-col cols="12" sm="6" md="3">
            <v-text-field
              label="New Password"
              outlined
              @click:append="show1 = !show1"
              :append-icon="show1 ? 'visibility' : 'visibility_off'"
              v-model="user.password"
              :type="show2 ? 'text' : 'password'"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <v-text-field
              label="Confirm New Password"
              outlined
              @blur="clientValidatePassword"
              @click:append="show2 = !show2"
              :append-icon="show2 ? 'visibility' : 'visibility_off'"
              hint="At least 8 characters"
              :type="show2 ? 'text' : 'password'"
              :rules="[rules.required, rules.min]"
              :error="password.error"
              :error-count="password.errorCount"
              :error-messages="password.errorMessages"
              v-model="user.confirm_password"
            ></v-text-field>
          </v-col>
          <v-col cols="12" v-if="password.error">
            <div class="error">
              <p v-for="(m, index) in password.errorMessages"
              :key="`errp${index}`">
                {{m}}
              </p>
            </div>
          </v-col>
          <v-col cols="12" sm="6" md="3">
            <input
              type="button"
              value="Change Password"
              class="btn"
              @click="changePassword"
            />
          </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import api from '../lib/api';
import CakeTile from '@/components/CakeTile.vue';

export default {
  components: {
    CakeTile,
  },
  computed: {
    ...mapGetters(['loggedIn']),
  },
  methods: {
    changePassword() {
      if (this.clientValidatePassword()) {
        api.changePassword(this.profile, this.user.confirm_password);
        this.user.password = '';
        this.user.confirm_password = '';
        this.password.error = false;
        this.password.errorMessages = [];
      }
    },
    clientValidatePassword() {
      if (this.user.password !== this.user.confirm_password) {
        return false;
      }
      
      this.password = {
        error: false,
        errorCount: 0,
        errorMessages: [],
      };

      const rules = [
        this.rules.required,
        this.rules.min,
      ];

      let errored = false;
      for (let i = 0; i < rules.length; i += 1) {
        const internal = rules[i](this.user.password);
        if (internal !== true) {
          errored = true;
          this.password.error = true;
          this.password.errorCount += 1;
          this.password.errorMessages.push(internal);
        }
      }
      return !errored;
    },
  },
  data: () => ({
    profile: null,
    show1: false,
    show2: false,
    uri: 'http:\\\\192.168.1.100:3000',
    user: {
      email: '',
      display_name: '',
      password: '',
      confirm_password: '',
    },
    password: {
      error: false,
      errorCount: 0,
      errorMessages: [],
    },
    errors: null,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      emailMatch: () => ('The email and password you entered don\'t match'),
    },
  }),
  mounted() {
    api.loadProfile(this.$store.state.user).then((profile) => {
      this.profile = profile;
    });
  },
};
</script>

<style lang="scss" scoped>
  .fav-holder {
    display: flex;
  }
</style>
