<template>
  <v-layout class="grid">
    <div
      class="grid-item"
      v-for="(cake, index) in cakes"
      :key="index">
      <CakeTile
        :cake="cake"/>
    </div>
  </v-layout>
</template>

<script>
import CakeTile from '@/components/CakeTile.vue';
import api from '../lib/api';

export default {
  components: {
    CakeTile,
  },
  data: () => ({
    cakes: [],
  }),
  mounted() {
    api.loadAllCakes().then(
      (cakes) => {
        this.cakes = cakes;
      },
      () => {},
    );
  },
};
</script>

<style lang="scss" scoped>
.grid {
  justify-content: center;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(150px + 32px));
  grid-gap: 1em;
}
.grid-item{
  max-height: calc(150px + 32px);
  margin: -0.2em;
}
</style>

<style lang="scss">
 html {
   overflow: hidden;
 }
</style>
