<template>
  <v-container wrap v-if="cake">
    <v-card width="100vw" class="mx-auto cake-card">
      <v-container class="cake image">
        <v-img class="cake-image" :src="cake.link"></v-img>
      </v-container>
      <v-container class="cake cake-info">
        <v-row class="py-4 pl-4">
          <v-col class="text-center">
            <v-container class="pa-0">
              <v-row>
                <v-col>
                  <h2>{{cake.name}}</h2>
                  <h3>
                    <router-link :to="`/map/${cake.id}`">{{cake.locationName}}</router-link>
                  </h3>
                </v-col>
              </v-row>
              <v-row>
                <Rating :cake="cake" :static="true" :average="true" />
              </v-row>
              <v-row>
                <v-col>{{cake.description}}</v-col>
              </v-row>
              <v-row v-if="loggedIn">
                <v-col>
                  <button
                    class="btn"
                    @click="rating_modal.visible = true"
                  >
                  Rate Me
                  </button>
                </v-col>
              </v-row>
              <v-btn
                icon
                @click="fav"
                :class="'fav ' + (cake.favourited? 'favourite' : '')">
                <v-icon>mdi-star</v-icon>
              </v-btn>
              <div class="time">Uploaded by: {{cake.user.display_name}}</div>
              <div class="time">Uploaded: {{time}}</div>
            </v-container>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
    <v-dialog v-model="rating_modal.visible">
      <RateMe
        :cake="cake"
        :rating="user_rating"
        @closedialog="rating_modal.visible = false"
      />
    </v-dialog>
    <v-card width="100vw" class="mx-auto">
      <div v-if="cake.ratings.length === 0">No one has rated this cake yet!</div>
      <div v-else class="comments">
        <Comment
          v-for="(rating, index) in cake.ratings"
          :key="index"
          :comment="rating"
        />
      </div>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import api from '../lib/api';
import Comment from '@/components/Comment.vue';
import Rating from '@/components/Rating.vue';
import RateMe from '@/components/RateMe.vue';

export default {
  name: 'Cake',
  data: () => ({
    cake: null,
    user_rating: null,
    rating_modal: {
      visible: false,
    },
  }),
  computed: {
    ...mapGetters(['loggedIn']),
    time() {
      const dateTime = new Date(this.cake.createdAt);
      return `${dateTime.toLocaleDateString()} ${dateTime.toLocaleTimeString()}`;
    },
  },
  components: {
    Comment,
    Rating,
    RateMe,
  },
  methods: {
    fav() {
      api.favouriteCake(this.cake);
      this.loadCake(this.cake.id);
    },
    loadCake(id) {
      api.loadCake(id).then(
        (cake) => {
          this.cake = cake;
          [this.user_rating] = this.cake.ratings
            .filter(r => parseInt(r.user_id, 10) === 1);
          if (!this.user_rating) {
            this.user_rating = {
              user_id: this.$store.state.user.id,
              cake_id: this.$route.params.id,
              comment: '',
              rating: 0,
            };
          }
          this.user_rating = Object.assign({}, this.user_rating);
        },
        () => {},
      );
    },
  },
  mounted() {
    this.loadCake(this.$route.params.id);
  },
  created() {
  },
};
</script>

<style lang="scss" scoped>
.cake-image {
  max-height: 50vh;
  margin: 0 auto;
  @media only screen and (min-width: 1080px) {
    width: 40vw;
    max-height: 60vh;
  }
  @media only screen and (min-width: 900px) {
    width: 40vw;
  }
}

.time {
  color: rgba(0, 0, 0, 0.75) !important;
  font-size: 0.6em;
}
.cake-info {
  position: relative;
}
.fav {
  position: absolute;
  top: 0;
  right: 0;
}

.ratings {
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 0;
  div {
    margin: 0 auto;
  }
  .rate-item {
    display: inline-flex;
  }
}
.comments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media only screen and (max-width: 900px) {
    grid-template-columns: 100%;
  }
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 5px;
}
.favourite {
  i {
    color:yellow !important;
    text-shadow: 0px 0px 3px #000;
  }
}
</style>

<style lang="scss">
.cake-card {
  display: block;
  @media only screen and (min-width: 900px) {
    display: flex;
  }
}
.cake {
  @media only screen and (min-width: 900px) {
    max-width: 50%;
  }
}
</style>
