<template>
  <v-container grid-list-xs>
    <img class="logo" src="@/assets/logo2.png" />
    <Nav class="menu" />
    <br />
    <v-dialog v-model="cake_add_modal.visible">
      <CakeCreate
        @closedialog="cake_add_modal.visible = false"
      />
    </v-dialog>
    <v-row>
      <v-col class="center-col">
        <input
          v-if="loggedIn"
          type="button"
          value="Add Cake"
          @click="addCake"
          class="btn"
        />
        <div v-else style="text-align: center; width: 100%;">
          Login to add a cake
        </div>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col>
        <h2>Recently Baked</h2>
        <br />
        <CakeCarousel recent/>
      </v-col>
    </v-row>
    <!-- <br />
    <v-row no-gutters>
      <v-col>
        <h2>Top Rated Near You</h2>
        <br />
        <CakeCarousel topNear/>
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex';
import CakeCarousel from '@/components/CakeCarousel.vue';
import Nav from '@/components/Nav.vue';
import CakeCreate from '@/components/CakeCreate.vue';

export default {
  components: {
    CakeCarousel,
    Nav,
    CakeCreate,
  },
  data: () => ({
    cake_add_modal: {
      visible: false,
    },
  }),
  methods: {
    addCake() {
      this.cake_add_modal.visible = true;
    },
  },
  computed: {
    ...mapGetters(['loggedIn']),
  },
};
</script>

<style lang="scss" scoped>
$primary: #fe8195;
h2 {
  color: $primary;
}
.logo {
  display: block;
  margin: 0 auto;
  margin: 2em auto;
  height: 15pc;
}
.menu {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
}
.btn {
  background-color: $primary;
  color: white;
  padding: 0.5em;
  min-width: 200px;
  border-radius: 4px;
  margin: 0 auto;
  transition: ease-in-out all 250ms;
  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
}
.center-col {
  display:inline-flex;
}
</style>
