<template>
  <div>
    <vl-map
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      class="map"
      @click="featureClick">
      <vl-view
        :zoom.sync="zoom"
        :center.sync="center"
        :rotation.sync="rotation"/>

      <vl-geoloc @update:position="updateGeo">
        <vl-feature
          v-for="cake in cakes"
          :key="cake.id"
          :properties="{cake}"
          >
            <vl-geom-point
              :coordinates="[cake.lat, cake.lon]"/>
            <vl-style-circle
              :coordinates="[cake.lat, cake.lon]"
              :scale="0.4"
              :anchor="[0.5, 1]"/>
            <vl-style-text>a</vl-style-text>
        </vl-feature>
      </vl-geoloc>

      <vl-layer-tile id="osm">
        <vl-source-osm/>
      </vl-layer-tile>

      <vl-overlay id="overlay" :position="overlay.coordinates">
        <template>
          <div class="overlay-content" v-if="overlay.visible">
            <CakeTile
              v-if="overlay.cake"
              :cake="overlay.cake"
              :map="true"
            />
          </div>
        </template>
      </vl-overlay>
    </vl-map>
  </div>
</template>

<script>
import CakeTile from '../components/CakeTile.vue';
import api from '../lib/api';

export default {
  components: {
    CakeTile,
  },
  data() {
    return {
      zoom: 12,
      center: [0, 0],
      rotation: 0,
      geolocPosition: undefined,
      cakes: [],
      overlay: {
        cake: null,
        visible: false,
        coordinates: [0, 0],
      },
      overlayCoordinate: [30, 30],
      overlayCake: null,
    };
  },
  methods: {
    updateGeo(position) {
      this.center = position;
    },
    featureClick(e) {
      const featuresAtPoint = e.map.getFeaturesAtPixel(e.pixel);
      if (featuresAtPoint) {
        this.overlay.coordinates = e.coordinate;
        this.overlay.cake = featuresAtPoint[0].values_.cake;
        this.overlay.visible = true;
      } else {
        this.overlay.visible = false;
      }
    },
  },
  mounted() {
    api.loadCakeLocations().then(
      (cakes) => {
        this.cakes = cakes;
        if (this.$route.params.id) {
          const cake = this.cakes.find(x => x.id.toString() === this.$route.params.id);
          this.center = [cake.lat, cake.lon];
        }
      },
      () => {},
    );
  },
};
</script>

<style scoped>
.map {
  width: 100%;
  height: calc(100vh - 3em);
}

.overlay-content {
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid grey;
}
</style>
