<template>
  <v-container>
    Login
      <v-row>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            label="Email"
            v-model="user.email"
            type="email"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            v-model="user.password"
            name="input-10-1"
            label="Normal with hint text"
            hint="At least 8 characters"
            outlined
            @click:append="show1 = !show1"
          ></v-text-field>
        </v-col>
        <v-col cols="12" v-if="error">
          <p class="error">Email or Password is incorrect</p>
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <button class="btn" @click="login">Login</button>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
// eslint-disable-next-line
import Cookies from 'js-cookie';
const request = require('request');

export default {
  methods: {
    login() {
      request.post(
        {
          uri: `${this.uri}/users/login`,
          json: true,
          body: this.user,
        },
        (err, res) => {
          if (res.statusCode === 200) {
            const response = res.body;
            if (response.message === 'Success') {
              this.error = false;
              Cookies.set('rmc_jwt', response.token, { expires: 1 });
              this.$store.dispatch('login', response);
              this.$router.push('/');
            } else {
              this.error = true;
            }
          }
        },
      );
    },
  },
  data: () => ({
    show1: false,
    uri: 'http:\\\\192.168.1.100:3000',
    user: {
      email: '',
      password: '',
    },
    error: null,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      emailMatch: () => ('The email and password you entered don\'t match'),
    },
  }),
};
</script>

<style lang="scss" scoped>
.error {
  padding: 0.5em;
  border-radius: 4px;
  p {
    margin: 0;
  }
}
</style>
