<template>
  <v-container>
      <v-row>
        <v-col cols="12" sm="4" md="3">
        </v-col>
        <v-col cols="12" sm="4" md="3">
          Create An Account
        </v-col>
        <v-col cols="12" sm="4" md="3">
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="4" md="3">
        </v-col>
        <v-col cols="12" sm="4" md="3">
          <v-text-field
            label="Email"
            v-model="user.email"
            type="email"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4" md="3">
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="4" md="3">
        </v-col>
        <v-col cols="12" sm="4" md="3">
          <v-text-field
            label="Display Name"
            v-model="user.display_name"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4" md="3">
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="4" md="3">
        </v-col>
        <v-col cols="12" sm="4" md="3">
          <v-text-field
            @blur="clientValidatePassword"
            @click:append="show1 = !show1"
            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            hint="At least 8 characters"
            :type="show1 ? 'text' : 'password'"
            :rules="[rules.required, rules.min]"
            :error="password.error"
            :error-count="password.errorCount"
            :error-messages="password.errorMessages"
            v-model="user.password"
            name="input-10-1"
            label="Password"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="4" md="3">
        </v-col>
      </v-row>
      <v-row v-if="errors">
        <v-col cols="12">
          <div class="error">
            <p>{{!errors.password ? 'Password is invalid' : ''}}</p>
            <p>{{!errors.email ? 'Email is already in use' : ''}}</p>
            <p>{{!errors.name ? 'Display name is already in use' : ''}}</p>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="4" md="3">
        </v-col>
        <v-col cols="12" sm="4" md="3">
          <button class="btn" @click="signup">Create Account</button>
        </v-col>
        <v-col cols="12" sm="4" md="3">
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
// eslint-disable-next-line
import Cookies from 'js-cookie';
const request = require('request');

export default {
  methods: {
    clientValidatePassword() {
      this.password = {
        error: false,
        errorCount: 0,
        errorMessages: [],
      };

      const rules = [
        this.rules.required,
        this.rules.min,
      ];

      let errored = false;
      for (let i = 0; i < rules.length; i += 1) {
        const internal = rules[i](this.user.password);
        if (internal !== true) {
          errored = true;
          this.password.error = true;
          this.password.errorCount += 1;
          this.password.errorMessages.push(internal);
        }
      }
      return !errored;
    },
    signup() {
      if (this.clientValidatePassword()) {
        request.post(
          {
            uri: `${this.uri}/users/signup`,
            json: true,
            body: {
              email: this.user.email,
              display_name: this.user.display_name,
              password: this.user.password,
            },
          },
          (err, res) => {
            console.log(res.body);
            if (res.statusCode === 200 && !res.body.errors) {
              this.$router.push('/login');
            } else if (res.body.errors) {
              this.errors = res.body.errors;
            }
          },
        );
      }
    },
  },
  data: () => ({
    show1: false,
    uri: 'http:\\\\192.168.1.100:3000',
    user: {
      email: '',
      display_name: '',
      password: '',
    },
    password: {
      error: false,
      errorCount: 0,
      errorMessages: [],
    },
    errors: null,
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
      emailMatch: () => ('The email and password you entered don\'t match'),
    },
  }),
};
</script>

<style lang="scss" scoped>
</style>
