<template>
  <v-sheet :color="'white'" :width="'100%'" :elevation="2" :tile="false">
    <v-slide-group
      center-active
      :show-arrows="true">
      <v-slide-item
          v-for="(cake, index) in cakes"
          :key="index">
          <CakeTile :cake="cake"/>
      </v-slide-item>
    </v-slide-group>
  </v-sheet>
</template>

<script>
import CakeTile from '@/components/CakeTile.vue';
import api from '../lib/api';

export default {
  name: 'CakeCarousel',
  props: {
    recent: Boolean,
    topNear: Boolean,
  },
  components: {
    CakeTile,
  },
  data: () => ({
    cakes: [],
  }),
  mounted() {
    api.loadRecentCakes(this.recent, this.topNear).then(
      (cakes) => {
        this.cakes = cakes;
      },
      () => {},
    );
  },
};
</script>

<style lang="scss" scoped>

</style>
