<template>
  <v-card width="100vw" class="mx-auto">
    <v-card-title
      class="headline"
      primary-title
    >
      Add a Cake
    </v-card-title>

    <v-divider></v-divider>

    <v-card-text>
      <v-row>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            label="Cake Name"
            v-model="newCake.name"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <v-text-field
            label="Location Name"
            v-model="newCake.locationName"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="12">
          <v-text-field
            label="Image Link"
            v-model="newCake.link"
            outlined
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="12" md="12">
          <v-textarea
            class="comment"
            v-model="newCake.description"
            outlined
            label="Description"
          />
        </v-col>
        <v-col cols="12" sm="6" md="3">
          <v-switch
            v-model="showMap"
            label="Add to map">
          </v-switch>
        </v-col>
        <v-col cols="12" sm="12" md="12" v-if="showMap" class="warning">
          By adding a location to the map, it will be <b>publicly available.</b>
          Do not add your location for homemade cakes.
          If you want to add a homemade location, use a generic location,
          such as the nearest city.
        </v-col>
        <v-col cols="12" sm="12" md="12" v-if="showMap">
          <vl-map
            :load-tiles-while-animating="true"
            :load-tiles-while-interacting="true"
            data-projection="EPSG:4326"
            class="map"
            @click="mapClick">
            <vl-view
              :zoom.sync="zoom"
              :center.sync="center"/>

            <vl-geoloc @update:position="geolocPosition = center = $event">
              <template slot-scope="geoloc">
                <vl-feature v-if="geoloc.position" id="position-feature">
                  <vl-geom-point
                    :coordinates="
                    (newCake.lat ? [newCake.lat, newCake.lon] : null)
                    || geoloc.position">
                  </vl-geom-point>
                </vl-feature>
              </template>
            </vl-geoloc>

            <vl-layer-tile id="osm">
              <vl-source-osm/>
            </vl-layer-tile>
          </vl-map>
        </v-col>
      </v-row>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <button
        class="btn"
        @click="add"
      >
        Add
      </button>
      <button
        class="btn"
        @click="$emit('closedialog')"
      >
        Cancel
      </button>
    </v-card-actions>
  </v-card>
</template>

<script>
import api from '../lib/api';

export default {
  data: () => ({
    zoom: 12,
    center: [0, 0],
    showMap: false,
    newCake: {
      name: '',
      link: '',
      description: '',
      locationName: '',
      lat: null,
      lon: null,
    },
  }),
  methods: {
    mapClick(event) {
      [this.newCake.lat, this.newCake.lon] = event.coordinate;
    },
    updateGeo(position) {
      this.center = position;
    },
    add() {
      api.addCake(this.newCake);
      this.$emit('closedialog');
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
