<template>
  <v-card
    v-if="!map"
    @click="loadCake"
    class="ma-4 cake-tile"
    >
      <v-img
        :src="cake.link"
        class="white--text"
      >
      </v-img>
  </v-card>
  <v-card
    v-else
    class="map-tile"
    >
    <div class="cake-tile">
      <v-img
        @click="loadCake"
        :src="cake.link"
        class="white--text"
      >
      </v-img>
    </div>
    <div class="cake-details">
      <div class="item name">{{cake.name}}</div>
      <div class="item location">{{cake.locationName}}</div>
      <Rating class="item" :static="true" :cake="cake"/>
    </div>
  </v-card>
</template>

<script>
const request = require('request');
import Rating from './Rating';

export default {
  components: {
    Rating,
  },
  props: {
    cake: Object,
    map: Boolean,
  },
  data() {
    return {
    };
  },
  methods: {
    loadCake() {
      this.$router.push(`/cakes/${this.cake.id}`);
    },
  },
}
</script>

<style lang="scss" scoped>
  $image-size: 150px;
  .map-tile {
    min-width: $image-size * 2;
    height: calc(0.4em + #{$image-size});
  }
  .cake-tile {
    position: relative;
    width: $image-size;
    height: $image-size;
    display: inline-flex;
    margin: 0.2em;
    -webkit-transition: all 0.25s ease-in;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    .v-image {
      &:hover {
        filter: brightness(1.1);
        cursor: pointer;
      }
    }
  }
  .cake-details {
    display: inline-block;
    vertical-align: top;
    .item {
      width: 100%;
      &.name {
        font-weight: 500;
      }
      &.ratings {
        display: inline-flex;
      }
    }
  }
</style>
