<template>
  <v-card class="comment">
    <v-list-item>
      <v-list-item-avatar color="grey">
        <v-img :src="comment.avatar"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{comment.display_name}}</v-list-item-title>
        <v-list-item-subtitle>
          <template v-for="{} in comment.rating">
            🍒
          </template>
        </v-list-item-subtitle>
        <v-list-item-subtitle class="time">
          {{ time }}
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-card-text>
      {{comment.comment}}
    </v-card-text>

    <!-- <v-card-actions>
      <v-btn
        text
        color="pink accent-4"
      >
        Reply
      </v-btn>
      <div class="flex-grow-1"></div>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-share-variant</v-icon>
      </v-btn>
    </v-card-actions> -->
  </v-card>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Comment',
  props: {
    comment: Object,
  },
  computed: {
    ...mapGetters(['avatar']),
    time() {
      const dateTime = new Date(this.comment.updatedAt);
      if (this.comment.updatedAt === this.comment.createdAt) {
        return `${dateTime.toLocaleDateString()} ${dateTime.toLocaleTimeString()}`;
      }
      return `${dateTime.toLocaleDateString()} ${dateTime.toLocaleTimeString()} (edited)`;
    },
  },
  data: () => ({

  }),
};
</script>

<style lang="scss" scoped>
.comment {
  div {
    color: black !important;
  }
  .time {
    color: rgba(0, 0, 0, 0.75) !important;
    font-size: 0.6em;
  }
}
</style>
