<template>
  <v-row no-gutters>
    <v-col class="empty" />
    <v-col class="link">
      <router-link
        to="/map"
        class="cupcake-link">Map</router-link>
    </v-col>
    <v-col class="link">
      <router-link
        to="/cakes"
        class="cupcake-link">Cakes</router-link>
    </v-col>
    <v-col class="link" v-if="loggedIn">
      <router-link
        to="/account"
        class="cupcake-link">Account</router-link>
    </v-col>
    <v-col class="link" v-if="!loggedIn">
      <router-link to="/login" class="cupcake-link">Login</router-link>
    </v-col>
    <v-col class="link" v-if="!loggedIn">
      <router-link to="/signup" class="cupcake-link">Sign Up</router-link>
    </v-col>
    <v-col class="link" v-if="loggedIn">
      <span @click="logout" class="cupcake-link">Log Out</span>
    </v-col>
    <v-col class="empty" />
  </v-row>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters(['loggedIn']),
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.push('/');
    },
  },
};
</script>

<style>
.link a, .link span {
  font-size: 1rem;
}
@media only screen and (max-width: 900px) {
  .link a, .link span {
    font-size: 0.75rem;
  }
  .empty {
    max-width: 0px;
  }
}

</style>
