<template>
  <v-card width="100vw" class="mx-auto">
    <v-card-title
      class="headline"
      primary-title
    >
      Rating
    </v-card-title>

    <v-divider></v-divider>

    <v-card-text>
      <Rating class="dialog" :cake="rating_cake" @ratingchanged="updateRating" />
      <v-textarea
        class="comment"
        outlined
        label="Comment"
        v-model="rating.comment"
      />
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions>
      <v-spacer></v-spacer>
      <button
        class="btn"
        @click="rate"
      >
        Save
      </button>
      <button
        class="btn"
        @click="$emit('closedialog')"
      >
        Cancel
      </button>
    </v-card-actions>
  </v-card>
</template>

<script>
import Rating from '@/components/Rating.vue';
import api from '../lib/api';
// eslint-disable-next-line
const request = require('request');

export default {
  components: {
    Rating,
  },
  props: {
    rating: Object,
    cake: Object,
  },
  data: () => ({
    rating_cake: null,
    uri: 'http:\\\\192.168.1.100:3000',
  }),
  methods: {
    rate() {
      api.rateCake(this.cake, this.rating).then(
        () => {
          window.location.reload();
        },
        () => {},
      );
    },
    updateRating(value) {
      this.rating.rating = value;
    },
  },
  mounted() {
  },
  created() {
    this.rating_cake = Object.assign({}, this.cake);
    this.rating_cake.rating = this.rating.rating;
    if (!this.rating.comment) {
      this.rating.comment = '';
    }
  },
};
</script>

<style lang="scss" scoped>
  .dialog {
    color: rgba(0, 0, 0, 1);
    font-size: 2em;
    margin: 0 auto;
    width: 100%;
    margin-top: 1em;
  }

  .comment {
    margin-top: 1em !important;
  }

  .v-card__text {
    padding-bottom: 0 !important;
  }
</style>
