<template>
  <div class="ratings" v-if="cake">
    <div class="item" ref="rate1" @click="rate(1)" @mouseover="hover(1)" @mouseleave="clear">🍒</div>
    <div class="item" ref="rate2" @click="rate(2)" @mouseover="hover(2)" @mouseleave="clear">🍒</div>
    <div class="item" ref="rate3" @click="rate(3)" @mouseover="hover(3)" @mouseleave="clear">🍒</div>
    <div class="item" ref="rate4" @click="rate(4)" @mouseover="hover(4)" @mouseleave="clear">🍒</div>
    <div class="item" ref="rate5" @click="rate(5)" @mouseover="hover(5)" @mouseleave="clear">🍒</div>
    <div v-if="average" class="average">({{user_rating}})</div>
  </div>
</template>

<script>
export default {
  props: {
    cake: Object,
    static: Boolean,
    average: Boolean,
  },
  data: () => ({
    user_rating: 0,
  }),
  methods: {
    hover(index) {
      if (!this.static) {
        for (let i = 1; i < 6; i += 1) {
          const ref = this.$refs[`rate${i}`];
          if (i < index + 1) {
            if (!ref.classList.contains('highlight')) {
              ref.classList.add('highlight');
            }
          } else {
            ref.classList.remove('highlight');
          }
        }
      }
    },
    clear() {
      for (let i = 1; i < 6; i += 1) {
        const ref = this.$refs[`rate${i}`];
        if (i < this.user_rating + 1) {
          if (!ref.classList.contains('highlight')) {
            ref.classList.add('highlight');
          }
        } else {
          ref.classList.remove('highlight');
        }
      }
    },
    rate(rating) {
      if (!this.static) {
        this.user_rating = rating;
        this.$emit('ratingchanged', rating);
      }
    },
  },
  watch: {
    'cake.ratings': {
      handler() {
        if (this.cake.ratings && this.cake.ratings.length > 0) {
          this.user_rating = this.cake.ratings[0].rating;
        }
        this.clear();
      },
      deep: true,
    },
  },
  mounted() {
    if (this.cake.ratings && this.cake.ratings.length > 0) {
      if (this.cake.ratings.length === 1) {
        this.user_rating = this.cake.ratings[0].rating;
      } else {
        this.user_rating = this.cake.ratings
          .reduce((prev, curr) => curr.rating + prev.rating)
          / this.cake.ratings.length;
      }
    }
    this.clear();
  },
};
</script>

<style lang="scss" scoped>
.ratings {
  display: inline-flex;
  justify-content: center;
  .item {
    cursor: pointer;
    filter: brightness(0.5);
  }
  .highlight {
    filter: brightness(1.2);
  }
}

.average {
  font-size: 0.3em;
  display: flex;
  align-self: flex-end;
}
</style>
