<template>
  <v-app>
    <v-dialog
      v-model="dialog"
      persistent
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          This site is in the oven!
        </v-card-title>

        <v-card-text>
          This site is currently under construction.
          Check back later and check out @CupcakeRate on
          Twitter for updates.
        </v-card-text>

        <v-divider></v-divider>
      </v-card>
    </v-dialog>
    <v-app-bar app v-if="$route.path !== '/'">
      <v-toolbar-title class="headline text-uppercase">
        <router-link
          to="/">
          <v-img src="@/assets/logo-small.png"
            contain
            max-height="56px"
            width="56px"/>
        </router-link>
      </v-toolbar-title>
      <Nav />
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex';
import Nav from '@/components/Nav.vue';

export default {
  name: 'App',
  data: () => ({
    showNav: false,
    absolute: false,
    opacity: 0.6,
    overlay: true,
    zIndex: 5,
    dialog: false,
  }),
  components: {
    Nav,
  },
  computed: {
    ...mapGetters(['loggedIn']),
  },
};
</script>

<style lang="scss">
.error {
  padding: 0.5em;
  border-radius: 4px;
  p {
    margin: 0;
    margin-bottom: 0 !important;
  }
}
$primary: #fe8195;
.v-tab {
  color: $primary;
}
.v-tab.v-tab {
  color: $primary !important;
}
.v-tabs-slider {
    background-color: $primary !important;
}
.v-application a {
  color: $primary !important;
}
.link {
  text-align: center;
  color: $primary;
  font-size: 1.5em;
}
.cupcake-link {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.btn {
  background-color: $primary;
  color: white;
  padding: 0.5em;
  min-width: 200px;
  border-radius: 4px;
  margin: 0 auto;
  margin: 3px;
  transition: ease-in-out all 250ms;
  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
}
.ol-zoom {
  top: .5em;
  left: .5em;
  .ol-zoom-in {
    border-radius: 2px 2px 0 0;
  }
  .ol-zoom .ol-zoom-out {
    border-radius: 0 0 2px 2px;
  }
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 1.14em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: .4em;
  background-color: $primary;
  border: none;
  border-radius: 2px;
}
.ol-attribution.ol-uncollapsible {
    bottom: 0;
    right: 0;
    border-radius: 4px 0 0;
    height: 1.1em;
    line-height: 1em;
}
.ol-attribution:not(.ol-collapsed) {
    background: rgba(255, 255, 255, 0.8);
}
.ol-attribution {
    text-align: right;
    bottom: .5em;
    right: .5em;
    max-width: calc(100% - 1.3em);
}
.ol-attribution ul, .ol-attribution button {
    display: inline-block;
}
.ol-attribution ul {
    margin: 0;
    padding: 0 .5em;
    font-size: .7rem;
    line-height: 1.375em;
    color: #000;
    text-shadow: 0 0 2px #fff;
}
.ol-attribution.ol-uncollapsible button {
    display: none;
}
.ol-attribution li {
    display: inline;
    list-style: none;
    line-height: inherit;
}
</style>
